ClientSoap/src/META-INF/wsdl/localhost_8080/ServerSoap/ServerSoap.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://serversoap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://serversoap/" name="ServerSoap">
<types>
<xsd:schema>
<xsd:import namespace="http://serversoap/" schemaLocation="http://localhost:8080/ServerSoap/ServerSoap?xsd=1"/>
</xsd:schema>
</types>
<message name="consultar">
<part name="parameters" element="tns:consultar"/>
</message>
<message name="consultarResponse">
<part name="parameters" element="tns:consultarResponse"/>
</message>
<message name="alterar">
<part name="parameters" element="tns:alterar"/>
</message>
<message name="alterarResponse">
<part name="parameters" element="tns:alterarResponse"/>
</message>
<message name="DatabaseException">
<part name="fault" element="tns:DatabaseException"/>
</message>
<message name="adiciona">
<part name="parameters" element="tns:adiciona"/>
</message>
<message name="adicionaResponse">
<part name="parameters" element="tns:adicionaResponse"/>
</message>
<message name="listarTodos">
<part name="parameters" element="tns:listarTodos"/>
</message>
<message name="listarTodosResponse">
<part name="parameters" element="tns:listarTodosResponse"/>
</message>
<message name="adiciona2">
<part name="parameters" element="tns:adiciona2"/>
</message>
<message name="adiciona2Response">
<part name="parameters" element="tns:adiciona2Response"/>
</message>
<portType name="ServerSoap">
<operation name="consultar">
<input wsam:Action="http://serversoap/ServerSoap/consultarRequest" message="tns:consultar"/>
<output wsam:Action="http://serversoap/ServerSoap/consultarResponse" message="tns:consultarResponse"/>
</operation>
<operation name="alterar">
<input wsam:Action="http://serversoap/ServerSoap/alterarRequest" message="tns:alterar"/>
<output wsam:Action="http://serversoap/ServerSoap/alterarResponse" message="tns:alterarResponse"/>
<fault message="tns:DatabaseException" name="DatabaseException" wsam:Action="http://serversoap/ServerSoap/alterar/Fault/DatabaseException"/>
</operation>
<operation name="adiciona">
<input wsam:Action="http://serversoap/ServerSoap/adicionaRequest" message="tns:adiciona"/>
<output wsam:Action="http://serversoap/ServerSoap/adicionaResponse" message="tns:adicionaResponse"/>
<fault message="tns:DatabaseException" name="DatabaseException" wsam:Action="http://serversoap/ServerSoap/adiciona/Fault/DatabaseException"/>
</operation>
<operation name="listarTodos">
<input wsam:Action="http://serversoap/ServerSoap/listarTodosRequest" message="tns:listarTodos"/>
<output wsam:Action="http://serversoap/ServerSoap/listarTodosResponse" message="tns:listarTodosResponse"/>
</operation>
<operation name="adiciona2">
<input wsam:Action="http://serversoap/ServerSoap/adiciona2Request" message="tns:adiciona2"/>
<output wsam:Action="http://serversoap/ServerSoap/adiciona2Response" message="tns:adiciona2Response"/>
<fault message="tns:DatabaseException" name="DatabaseException" wsam:Action="http://serversoap/ServerSoap/adiciona2/Fault/DatabaseException"/>
</operation>
</portType>
<binding name="ServerSoapPortBinding" type="tns:ServerSoap">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="consultar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="alterar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="DatabaseException">
<soap:fault name="DatabaseException" use="literal"/>
</fault>
</operation>
<operation name="adiciona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="DatabaseException">
<soap:fault name="DatabaseException" use="literal"/>
</fault>
</operation>
<operation name="listarTodos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="adiciona2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="DatabaseException">
<soap:fault name="DatabaseException" use="literal"/>
</fault>
</operation>
</binding>
<service name="ServerSoap">
<port name="ServerSoapPort" binding="tns:ServerSoapPortBinding">
<soap:address location="http://localhost:8080/ServerSoap/ServerSoap"/>
</port>
</service>
</definitions>